# ================= OS =================
.DS_Store
Thumbs.db

# ================= Node =================
node_modules/
npm-debug.log*
yarn-error.log*

# ================= Build =================
dist/
build/
.vite/

# ================= Env =================
.env
.env.local
.env.*.local

# ================= Docker =================
*.log

# ================= IDE =================
.vscode/
.idea/
*.iml

# ================= Coverage =================
coverage/

# ================= Misc =================
*.swp
